name: Run tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: bahmutov/npm-install@v1
    - name: Use Node.js to test and build
      uses: actions/setup-node@v5
      with:
        node-version: '10.24.1'
    - name: Install dependencies
      run: yarn install --frozen-lockfile
    - name: Run the tests
      run: yarn test
    - name: Run codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
